
body {
  margin: 0;
  font-family: var(--font-family);
  scroll-behavior: smooth;
}

h1 {
  font-size: 1.5em;
  line-height: 1.1;
}

#root {
  background-color: #000;
  color: #fff;
  width: 100dvw;
  height: 100dvh;
  overflow: auto;
  scrollbar-width: none;
}

.main-page {
  display: flex;
  flex-direction: column;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 4px 0px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-bar-name {
  font-size: 1.5em;
  margin: 0;
  margin-left: 15px;
}

.nav-bar-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 15px;
  margin: 0;
  padding: 0;
  margin-right: 15px;
}

.nav-bar-item {
  font-size: 12px;
  cursor: pointer;
  padding: 10px;
  border-radius: 7px;
  transition: all ease-in-out 0.3s;
}

.nav-bar-item a {
  text-decoration: none;
  color: inherit;
}

.nav-bar-item:hover {
  background-color: #555;
}

.nav-bar-item span {
  transition: all ease-in-out 0.3s;
}

.section-page {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #fff;
}

#welcome-section {
 background-color: linear-gradient(to bottom, #000, #333) !important; 
}

.profile-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #333;
  transition: all ease-in-out 0.3s;
}

.profile-image:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.welcome-page {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 90%;
  max-width: 1000px;
}

.personal-data, .contact-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 90%;
  max-width: 1000px;
}

.contact-page > h3 { margin: 0;}

.personal-data > h2 {
  padding: 0;
  margin: 0;
}

.info-data {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
}

.data-piece {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: start;
  background-color: #5552;
  padding: 10px;
  border-radius: 8px;
  animation: data-pieces linear 1s infinite alternate;
  transition: all ease-in-out 0.3s;
}

.data-piece > span {
    font-size: 13px;
}

.data-piece::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    border-radius: inherit;
    background: linear-gradient(
        90deg,
        #4b0082,
        #2e1a47,
        #1f364d,
        #2b4a3f,
        #4b3f2b,
        #4b002b,
        #4b0082
    );
    background-size: 400% 400%;
    z-index: -1;
    animation: arcoirisOscuro 6s linear infinite;
}

.data-piece:hover {
  cursor: pointer;
  transform: scale(1.02);
}

@keyframes arcoirisOscuro {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.nombres, .fechas, .address {
  display: flex;
  gap: 20px;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact-way {
  gap: 5px;
  background-color: #1f364d;
  padding: 10px 25px;
  border-radius: 8px;
  transition: all ease-in-out 0.3s;
}

.contact-way > a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 13px;
}

.contact-way:hover {
  cursor: pointer;
  transform: scale(1.02);
}

/* ANIMACIONES */

@keyframes navbar {
  from {
    padding: inherit;
  }
  to {
    padding: 0;
  }
}

@keyframes scroll-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes data-pieces {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-2px);
  }
}